.App {
  text-align: center;
}

.heroImage {
  display: flex !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.heroCard {
  background-color: rgb(222,237,214) !important;
  border: none !important;
  align-items: flex-end;
}

.heroText {
  display: flex;
  flex-direction: column;

}

.heroTitle {
  display: flex;
  margin-left: 7%;
  padding-top: 20px;
  font-size: 41px !important;
  line-height: 52px !important;
  font-weight: 600 !important;
  width: 578px !important;
  text-align: left;
}

.heroFinePrint {
  display: flex;
  margin-left: 7%;

}

.countryDrop {
  display: flex;
  width: 20px;
  margin-left: 1%;
  margin-top: 10px;
  align-content: center;
  
}

.dropButton {
  background-color: white !important;
  border: darkgray 1px solid !important;
}

.dropArrow {
  background-color: white !important;
  border: darkgray 1px solid !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
